 .section_title {
     color: blue;
 }
 .section_title2{
     color:mediumvioletred;
 }


 .left_col{
     float: left;
     width: 15%;
 }
 .right_col{
     float: right;
     width: 80%;
 }
 footer{
     clear: both;
 }